<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\AccountDetail $accountDetail
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $accountDetail->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $accountDetail->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Account Details'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Accounts'), ['controller' => 'Accounts', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Account'), ['controller' => 'Accounts', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Properties'), ['controller' => 'Properties', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Property'), ['controller' => 'Properties', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="accountDetails form large-9 medium-8 columns content">
    <?= $this->Form->create($accountDetail) ?>
    <fieldset>
        <legend><?= __('Edit Account Detail') ?></legend>
        <?php
            echo $this->Form->control('account_id', ['options' => $accounts, 'empty' => true]);
            echo $this->Form->control('property_id', ['options' => $properties, 'empty' => true]);
            echo $this->Form->control('net_weight');
            echo $this->Form->control('total_weight');
            echo $this->Form->control('property_value');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
